@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootstrap-vue/src/index.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import "mixins";
@import "variable";
@import "./custom/custom";
@import "./layout/layout";

html, body {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  overflow: hidden;
}
