.bold-head-hr-title {

  .head-container {

    .head-title {
      display: inline-block;

      color: #212529;
      font-size: 1em;
      font-weight: bold;
      text-transform: uppercase;
      width: 100%;

      text-align: left;

      @include media-breakpoint-down(sm) {
        font-size: 1em;
      }
    }

    .head-right {
      font-size: .9em;
      display: inline-block;
      text-align: right;
      width: 0;
    }
  }

  &.has-head-right {
    .head-container {
      .head-title {
        width: 60%;
      }

      .head-right {
        width: 40%;
      }
    }
  }
}

.hr-bold-head {
  line-height: 1em;
  position: relative;
  border: none;
  height: 1px;
  color: $main-yellow-green-color; /* old IE */
  background-color: $main-yellow-green-color; /* Modern Browsers */

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    min-width: 80px;
    height: 8px;
    color: $main-yellow-green-color; /* old IE */
    background-color: $main-yellow-green-color; /* Modern Browsers */
  }
}
