.language-selector {

  &.minimized {
    position: relative;

    width: 40px;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: $map-box-shadow;
    background: white;
    cursor: pointer;

    .selected-lang {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      background: white;
      text-align: center;

      padding: 5px 0;

      .flag-icon {
        width: 30px;
        height: 30px;
        line-height: unset;
        border-radius: 5px;
        box-shadow: $map-box-shadow;
      }

      i {
        color: rgb(110, 110, 110);
      }

      &:hover {
        i {
          color: black;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      width: 35px;

        .flag-icon {
          width: 25px !important;
          height: 25px !important;
        }
    }

    .lang-list {
      position: absolute;
      right: 0;
      top: calc(100% + 10px);

      width: 200px;
      max-height: 200px;

      padding: 0;

      overflow: scroll;

      background: white;
      border: 2px solid rgb(255, 255, 255);
      border-radius: 10px;

      list-style: none;

      opacity: 1;

      @include transition($transition-base);

      @include media-breakpoint-down(sm) {
        max-height: 125px;
        font-size: .9em;
      }

      &.close {
        transform-origin: top right;
        transform: scale(0,0);
      }

      .lang-item {
        width: 100%;

        .dropdown-item {
          display: flex;
          align-items: center;
        }

        &:first-of-type {
          .dropdown-item {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
        }

        &:last-of-type {
          .dropdown-item {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }
        }
      }
    }
  }
}
